extends layout
script(src='javascripts/apiCall.js')

block content
  h1  Enter the Repository URL in the text box

  #login        
            form(action = "/apiCall", method="get")
                
                div
                    input(type='text', name='myInput', style="width: 550px ; height: 20px")
                    br
                    br
                    br
                    input(type='submit', onClick='Submit')
  
